<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>

<h1 class='text-center'>Cart</h1>

<div class='container'>
  <table class=table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>

    <tbody>
      <% @cart.cart_items.each_with_index do |cart_item| %>
        <%  @item = cart_item.item %>
        <%= form_with model: @cart do |form| %>
          <tr>
            <td><%= @item.title%></td>
            <td><%= form.number_field :quantity, value: CartItem.find_by(cart: @cart, item: @item).quantity , data: { url: quantity_cart_path(item: @item), remote: true, method: 'PUT' } %></td>
            <td id='<%= @item.title %>'><%= @item.price%></td>
          </tr>
          <%end%>
        <%end%>
    </tbody>
  </table>
</div>
<script>

</script>
