<%= render partial: 'shared/error', locals: { resource: @cart } %>

<h1 class='text-center'>Cart</h1>

<div class='container'>
  <table class=table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>

    <tbody>
    <% flag = false %>
      <% @cart.cart_items.find_each do |cart_item| %>
        <%  @item = cart_item.item %>
        <%= form_with model: @cart do |form| %>
          <% if @item.availability %>
          <% flag = true %>
            <tr>
              <td><%= @item.title%></td>
              <td><%= form.number_field :quantity, value: quantity_value(@cart, @item), min: 1 , data: { url: quantity_cart_path(item: @item), remote: true, method: 'PUT' } %></td>
              <td id='<%= @item.id %>'><%= @item.price%></td>
            </tr>
            <%end%>
          <%end%>
        <%end%>
    </tbody>
  </table>
  <% if flag %>
    <%= checkout_button(@cart) %>
  <% end %>
</div>
