<!DOCTYPE html>
<html lang="en">
<body>
  <div class="container">
    <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
      <div class="bg-light border-right ml-auto p" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
            <%= link_to 'Add Items', items_path, :class => "list-group-item list-group-item-action bg-light" %>
            <%= link_to 'Add Categories', categories_path, :class => "list-group-item list-group-item-action bg-light" %>
          <a href="#" class="list-group-item list-group-item-action bg-light">Add Admin</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Users</a>
          <%= link_to 'Orders', orders_path, :class => "list-group-item list-group-item-action bg-light" %>
        </div>
      </div>

      <div id="page-content-wrapper" class="resize">
        <nav class="navbar navbar-expand-lg bg-light border-right ml-auto">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <h1 class="nav-link">Dinner Dash</h1>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">

            <% if user_signed_in? %>
              <li class="nav-link">
              <%= current_user.display_name %>
              </li>
            <% end %>

            <li class="nav-link">
              <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %>
            </li>
          </ul>
        </nav>


        <div class="row">
          <% @categories.each do |c| %>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title card-header"><%= c.title%></h5>
                    <% c.items.each do |i| %>
                      <p class="border border-info pl-3">
                        <%= i.title %>
                      </p>
                    <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</body>

</html>

