<!DOCTYPE html>
<html lang="en">
<body>
  <div>

  <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>

    <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
      <div class="bg-light border-right ml-auto p" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
            <%= link_to 'Cart', cart_path(@cart), :class => "list-group-item list-group-item-action bg-light" %>
            <%= link_to 'Items', items_path, :class => "list-group-item list-group-item-action bg-light" %>
            <%= link_to 'Categories', categories_path, :class => "list-group-item list-group-item-action bg-light" %>
          <a href="#" class="list-group-item list-group-item-action bg-light">Users</a>
          <%= link_to 'Orders', orders_path, :class => "list-group-item list-group-item-action bg-light" %>
        </div>
      </div>

      <div id="page-content-wrapper" class="resize">


        <div class="row">
          <% @categories.each do |c| %>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title card-header"><%= c.title%></h5>
                    <% c.items.each do |i| %>
                      <p class="border border-info pl-3">
                        <%= link_to i.title, item_path(i) %>
                      </p>
                    <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</body>

</html>

