<%= form_with model: @order do |form| %>
  <div>
    <%= form.label :status %>
    <%= form.select :status, options_for_select(@statuses) %>
  </div>

  <div class="field">
    <%= form.label :bill %><br />
    <%= form.text_field :bill, autofocus: true %>
  </div>

  <p>
    <br>
    <%= form.submit %>
  </p>
<% end %>
