<p>
  <strong>Order Id:</strong>
  <%= @order.id %>
</p>
<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Date Of Order:</strong>
  <%= @order.created_at %>
</p>

<p>
  <strong>Ordered Items and Quantity:</strong>
  <% ordered_item, status = ordered_items_status(@order) %>
  <ul>
    <% ordered_item.each do |o_i| %>
      <% item = Item.find_by(title: o_i) %>
      <li>  <%= item.line_items.find_by(order: @order).quantity %> <%= link_to item.title, item_path(item) %> </li>
    <%end%>
  </ul>
</p>


<p>
  <strong>Purchaser Name:</strong>
  <%= @order.user.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.user.email %>
</p>

<p>
  <strong>Bill:</strong>
  <%= @order.bill %>
</p>

<%= link_to 'All Orders', orders_path %>

