<%= form_with model: @item, local: true do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, min: 1, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :Categories %>
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :title %> <br>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div>
    <% availability = [true, false] %>
    <%= form.label :availability %>
    <%= form.select :availability, options_for_select(availability) %>
  </div>

  <p>
    <br>
    <%= form.submit %>
  </p>
<% end %>
